<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720963813885-gak1264718v9dfjdup8huidq56rtksrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720963813885-gak1264718v9dfjdup8huidq56rtksrf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>720963813885-44iuagouusjg9bso57fckgnvritmivis.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdxIk9XH_Q8dZA5bDtFdAgVka_TMy5ZKI</string>
	<key>GCM_SENDER_ID</key>
	<string>720963813885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tourismapp</string>
	<key>PROJECT_ID</key>
	<string>adventuree-c6726</string>
	<key>STORAGE_BUCKET</key>
	<string>adventuree-c6726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720963813885:ios:ecd5b55d36b08d72fdd994</string>
</dict>
</plist>